body {
    background-color: #140424;
  }
  
  .gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gif {
    padding: 0 2px;
  }
  
  .loader {
    color: blue;
  }

  .search-input{
    display: flex;
    justify-content: center;
  }

  .search-input input{
    width: 70%;
  }

  .shortcutButtons{
    background-color: #0d6efd;
    color: aliceblue;
    border-radius: 8px;
    margin-right: 8px;
    border-style: none;
    padding: 16px 22px;
    font-size: 18px;
  }

  .nav-buttons{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    max-width: 1320px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .nav-buttons .shortcutButtons{
    margin-right: 20px ;
  }